/* body {
    font-size: 10px;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#markerr-popup {
    width: 250px;
    max-width: 250px;
}

.popup__content {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.popup__actions {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.user {
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 15px;
}

/* .user:hover {
    border-radius: 8px;
    background: rgba(55, 53, 47, 0.08) none repeat scroll 0% 0%;
} */

.user__name {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.user__picture {
    user-select: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user--unknown {
    cursor: auto;
}

/* .user--unknown:hover {
    background: none;
} */

.user--unknown>.user__name {
    font-style: italic;
    font-weight: 400;
    color: #7f7f7f;
}

.user--unknown>.user__picture {
    height: 30px;
    width: 30px;
    background-color: #7f7f7f;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(114, 52, 205);
    color: #ffffff;
    font-size: 14px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(123, 71, 201);
    color: #f6f6f6;
}

.button--link {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(114, 52, 205);
}

.button--outline {
    background-color: transparent;
    border: 2px solid rgb(114, 52, 205);
    color: rgb(114, 52, 205);
}

.button--outline:hover {
    color: #fff;
    border: 2px solid rgb(114, 52, 205);
    background-color: rgb(114, 52, 205);
}

.button--icon {
    display: flex;
    column-gap: 6px;
    align-items: center;
    justify-content: center;
}

.button__icon {
    display: flex;
    align-items: center;
}

.button--icon svg {
    height: 18px;
    width: 18px;
    fill: #fff;
}

/* Switch icon fill for outline button */
.button--outline svg {
    fill: rgb(114, 52, 205);
}

.button--outline:hover svg {
    fill: #fff;
}
