.annotator-combobox {
}

.annotator-combobox__input {}

.annotator-combobox__menu {}

.annotator-combobox__menu[data-open="true"] {
    display: block !important;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px !important;
    padding: 5px 0 !important;
    z-index: var(--layer0-z) !important;
}

.annotator-combobox__item {
}

.annotator-combobox__item.highlight {
    background: rgba(55, 53, 47, 0.08) none repeat scroll 0% 0% !important;
}
