.stroke-single {
    all: unset !important;
    position: relative !important;
    background: transparent !important;
    z-index: 0 !important;
    color: red !important;
}

.stroke-single:before {
    content: attr(title) !important;
    position: absolute !important;
    -webkit-text-stroke: 0.185em #fff !important;
    left: 0 !important;
    z-index: -1 !important;
    text-shadow: 0px -2px 4px #000, 0px 2px 4px #000 !important;
}

.annotator_input_container {
    background: white;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    padding: 16px;
    border-radius: 8px;
}

.annotator_input_btns_container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.annotator_input_btns {
    display: flex;
    margin-left: auto;
    margin-top: 16px;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 16px;
    height: 16px;
    background: inherit;
}

#arrow {
    visibility: hidden;
    background: white;
}

#arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
}

#annotator-input[data-popper-placement^="top"] > #arrow {
    bottom: -8px;
}

#annotator-input[data-popper-placement^="bottom"] > #arrow {
    top: -8px;
}

#annotator-input[data-popper-placement^="left"] > #arrow {
    right: -8px;
}

#annotator-input[data-popper-placement^="right"] > #arrow {
    left: -8px;
}
