.annotator_input_container {
    background: white;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    padding: 8px;
    border-radius: 4px;
}

.annotator_input_btn_primary {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7c4dff;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 6px;
    outline: none !important;
    border: none !important;
    cursor: pointer !important;
}

.annotator_input_btn_danger {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 6px;
    background: #ffffff;
    color: #4a556d;
    margin-right: 8px;
    cursor: pointer;
    border: none !important;
    outline: none !important;
}

.annotator_input_btns_container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.annotator_input_btns {
    display: flex;
    margin-left: auto;
    margin-top: 24px;
}

.annotator_checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox_check {
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #d1d5db;
    background: #fff;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
}

.checkbox_label{
    font-size: 14px;
    user-select: none;
    color: #4a556d;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
  background: white;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#annotator-input[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#annotator-input[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#annotator-input[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#annotator-input[data-popper-placement^='right'] > #arrow {
  left: -4px;
}



