.annotator-panel {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 45px;
    background-color: #293845;
    border-radius: 8px;
    padding: 8px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.annotator-tools__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


#annotator-drag-handle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    cursor: move;
}

.tool-button {
    width: 100%;
    padding: 6px;
    height: 35px;
    width: 35px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

/* .tool-button:nth-last-child(1) {
    margin-bottom: 5px;
} */

.tool-button:not(.tool-button--selected):not(:disabled):hover {
    background: #4c5f6f;
}

.tool-button--selected {
    background: #7234cd;
}

.tool-button:disabled .tool-button__icon > .icon {
    fill: #5c5c5c;
}

.tool-button:disabled {
    cursor: not-allowed;
}

.tool-button__icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tool-button>.icon {
    max-width: 30px;
    fill: #888888;
}

.tool-button>.stroked-icon {
    fill: none;
    stroke: #fff;
}

.tool-button--selected>.icon {
    fill: #fff;
}

.tool-button--selected>.stroked-icon {
    fill: none;
    stroke: #fff;
}

.panel-drag-handle {
    height: 15px;
    width: 15px;
}

.panel-drag-handle>svg {
    fill: #fff;
}


/* Screenhot sub menu */

.screenshot-sub-menu {
    min-width: 75px;
    width: max-content;
    max-width: 200px;
    border-radius: 5px;
    background-color: #1F2B34;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
    z-index: 9999999;
    font-size: 14px;
}

.screenshot-sub-menu-hover {
    left: -8px;
    /* background-color: red; */
    height: 75px;
    width: 20px;
    position: fixed;
}

.ss-menu-button {
    text-align: start;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.screenshot-sub-menu__items {
    margin: 0 !important;
    padding: 0 !important;
}

.screenshot-sub-menu__item {
    list-style-type: none !important;
    padding: 5px;
    border-radius: 3px;
}

.ss-menu-button__icon {
    width: 16px;
    height: auto;
    display: flex;
    align-items: center;
}

.screenshot-sub-menu__item:hover {
    /* background-color: #4c5f6f; */
    /* background-color: #1fa0be; */
    background-color: #7234cd;
}

#annotator-screenshot-menu-arrow,
#annotator-screenshot-menu-arrow::before {
    background-color: #1F2B34;
    position: absolute;
    width: 14px;
    height: 14px;
    left: -2px;
}

#annotator-screenshot-menu-arrow {
    visibility: hidden;
}

#annotator-screenshot-menu-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#annotator-screenshot-menu[data-popper-placement^='left']>.screenshot-sub-menu-hover {
    left: initial;
    right: -8px;
}


#annotator-screenshot-menu[data-popper-placement^='left']>#annotator-screenshot-menu-arrow {
    left: 94%;
}

#annotator-screenshot-menu[data-popper-placement^='right']>#annotator-screenshot-menu-arrow {
    left: -2px;
}